body {
    background-color: #fbf8e5;
    color: #6e7d9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #080607;
    color: #A5B7C5;
    padding: 10px 20px;
}
header > h1 {
    letter-spacing: 5px;
}
article > h2 {
    font-weight: bolder;
}
article > h2::before {
    content: "\002329";
    color: #F9C989;
}
article > h2::after {
    content: "\00232A";
    color: #F9C989;
}
footer {
    background-color: #A5B7C5;
    padding: 5px 10px;
}