<!DOCTYPE html>
<html ng-app="app1" ng-init="person = {fName = 'Jimut', lName = 'Pal'}; capitals=[{city:'Kolkata', state='West Bengal'},{city:'New Delhi', state='Delhi'},{city:'Tripura', state='Agartala'}]">
    <head>
            <title>Angular JS tutorial</title>
    </head>
    <body>
        <div ng-controller="ctrl1">
            <span>Values:</span>
            <input type="text" ng-model="first"/>
            <input type="text" ng-model="second"/>
            <br>
            <button ng-click="updateValue()">Sum</button>
            <br><br>

            {{calculation}}
            <p>5+5 = {{5+5}}</p>

            <p> Your first value is {{first}} </p>
            <p> Your second value is <span data-ng-bind="second"></span> </p>
            <p>{{person.fName + " " + person.lName}} you entered {{first + " and " + second }}</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="exam1.js"></script>

    </body>
</html>